<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                <div class="row">
                    <div class="col">
                        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="buscar peliculas..." />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>