<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="buscar peliculas..." />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-tarjetas class="mt-5" *ngIf="!loading" [items]="resultado"></app-tarjetas>
