<div class="swiper-container">
  <h1 class="titleCarousel">{{title}}</h1>
  <div class="swiper-wrapper">

    <div class="swiper-slide" 
    (click)="VerPeliculas( peli )"
    *ngFor="let peli of peliculas | async">
      <!-- style="background-image: url('https://image.tmdb.org/t/p/w200/{{peli.poster_path}}';" -->
      <div id="details" class="details">
        <img src="https://image.tmdb.org/t/p/w300/{{peli.poster_path}}" />

        <div class="details-background">
          <div class="details-content">
            <div class="votes">
              <span>
                {{peli.vote_average}}<i class="fas fa-star"></i>
              </span>
              <span>({{peli.vote_count}} rating)
              </span>
            </div>
            <div class="genero" style="display: inline-block;">
              <span *ngFor="let generoList of [0,1]; let myIndex = index; let isLast=last">
                <ng-template [ngIf]="peli.genre_ids[myIndex] !== undefined">
                  <span *ngFor="let dataGenre of GenresJson; index as i;">
                    <ng-template [ngIf]="peli.genre_ids[myIndex] == dataGenre.id">
                      {{dataGenre.name}}
                      <ng-template [ngIf]="peli.genre_ids.length>1">
                        {{isLast ? '' : ' • '}}
                      </ng-template>
                    </ng-template>
                  </span>
                </ng-template>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">0</li>
      <li class="glide__slide">1</li>
      <li class="glide__slide">2</li>
    </ul>
  </div>
</div>