h3 {
  font-size: 14px;
}

.poster {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 5px;
}

.tarjeta {
  width: 240px;
  min-width: 180px;
}
.titulo{

    font-weight: bold;
    text-transform: uppercase;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
}
.contenedor{
    margin: auto;
    max-width: 1800px;
}
@media screen and (max-width: 805px) {
  .tarjeta {
  }
}
