:root {
  --rojo: #e50914;
  --fondo: #141414;
}
* {
  box-sizing: border-box;
}

mat-card-content {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 40px;
}
p {
  color: rgb(207, 207, 207);
}
mat-card-title {
  text-overflow: ellipsis;
  font-size: large;
  margin-bottom: 0;
  color: white;
  line-height: 21px;
}
mat-card {
  box-shadow: none !important ;
  background-color: rgba(37, 37, 37, 0);
  min-width: 20%;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo);
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;

  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
}

.pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
}

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
}

.pelicula-principal .boton i {
  margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contenedor-titulo-controles h3 {
  color: #fff;
  font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
  background: #fff;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
  background: red;
}

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
  margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.flecha-izquierda,
.flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 60px;
  top: 40%;
  line-height: 40px;
  width: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  border-radius: 9rem;

}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 5px;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 5px;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
  width: 100%;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
}

.pelicula {
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.carousel .pelicula.hover {
  transform: scale(1.2);
  transform-origin: center;
}

.carousel .pelicula img {
  width: 100%;
  vertical-align: top;
  margin: 0 0 15px 0;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  .pelicula-principal {
    font-size: 14px;
  }

  .pelicula-principal .descripcion {
    max-width: 100%;
  }

  .peliculas-recomendadas .contenedor-carousel {
    overflow: visible;
  }

  .peliculas-recomendadas .contenedor-carousel .carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .peliculas-recomendadas .indicadores,
  .peliculas-recomendadas .flecha-izquierda,
  .peliculas-recomendadas .flecha-derecha {
    display: none;
  }
}
@media screen and (max-width: 1031px) {
  mat-card {
    min-width: 25%;
  }
}
@media screen and (min-width: 1474px) {
  mat-card {
    min-width: 16.66667%;
  }
}

@media screen and (min-width: 1633px) {
  mat-card {
    min-width: 14.2857142857%;
  }
}
